body {
  background-color: deepslategray;
}
h1 {
  color: black;
}
h2 {color: black;}
p {
  color: black;
}
table, th, td {
  border: 1px solid black;
  
  border-radius: 5px;
  background-color: white;
  border-spacing: 5px;
}
td {
  text-align: center;
}
.modifier {
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin: 4px auto 0;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}